*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
:root{
--Pale_Violet: hsl(276, 100%, 81%);
--Moderate_Violet: hsl(276, 55%, 52%);
--Desaturated_Dark_Violet: hsl(271, 15%, 43%);
--Grayish_Blue: hsl(206, 6%, 79%);
--Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);
--Dark_Grayish_Violet: hsl(270, 7%, 64%);
--Light_Magenta: hsl(293, 100%, 63%);
--Light_Violet: hsl(264, 100%, 61%);
--White: hsl(0, 0%, 100%);
--Light_Grayish_Violet: hsl(270, 20%, 96%);
--Very_Light_Magenta: hsl(289, 100%, 72%);
--mobile:400px;
}
body{
    background-color: var(--Light_Grayish_Violet);
    overflow-x: hidden;
}
@media screen and (width<=400px){
    body{
        position: relative;
    }
}
.rightshape{
    height: 85vh;
    width: 30vw;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
    position: absolute;
    top: 0;
    right:75%;
    z-index: -1;
    background-image: linear-gradient(45deg,var(--Light_Violet),var(--Light_Magenta));
}
.leftshape{
    height: 85vh;
    width: 30vw;
    border-top-left-radius: 15vw;
    border-top-right-radius: 15vw;
    position: absolute;
    bottom:0;
    left:80%;
    z-index: -1;
    background-color: hsl(206, 6%, 79%,0.2);
}
@media screen and (width<=400px) {
    .leftshape{
        display: none;
    }
}
.container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (width<=400px) {
    .container{
        height: auto;
        flex-flow: column nowrap;
    }
}
.border{
    position: relative;
    width: 18rem;
    padding: 0.8rem;
    border-radius: 25px;
    background-color: var(--White);
    box-shadow: 0.5rem 0.5rem 2rem rgb(0 0 0 / 20%);
    
}
@media screen and (width<=400px) {
    .border{
        margin-top: 3rem;
        display: flex;
        width:70%;
        height: auto;
        flex-flow: column nowrap;
    }
}
.card{
    font-size:x-small;
    background-color: var(--Light_Grayish_Violet);
    display: flex;
    flex-flow: column nowrap;
    border-radius: 25px;
    overflow: hidden;
}
.notch{
    width:60%;
    height:2rem;
    background-color: var(--White);
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 20%;
    right: auto;
}
.card-header{
    padding-top: 25px;
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-image: linear-gradient(90deg,var(--Light_Violet),var(--Light_Magenta));
}
.card-header>#back-icon{
    height:0.8rem;
}
.card-header .img{
    border-radius: 50%;
    width:10%;
    height: auto;
    margin: 0px 0.5rem;
}
.cardchat{
    display: flex;
    flex-flow: column nowrap;
}
.cardchat .sent{
    margin: 6px;
    width: 60%;
    padding: 0.5rem;
    align-self: flex-start;
    border-radius: 10px 10px 10px 2px;
    background-color: var(--Grayish_Blue);
    color: var(--Moderate_Violet);
}
.cardchat .received{
    margin: 6px;
    width: 60%;
    padding: 0.5rem;
    align-self: flex-end;
    border-radius: 10px 10px 2px 10px;
    background-color: var(--White);
    color: var(--Desaturated_Dark_Violet);
}
.img>img{
    border-radius: 10%;
    width: 18%;
    margin: 5px 0 0 5px;
    float: right;
}
.btndiv{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    width:70%;
    border-radius: 0.5rem 0.5rem 0.5rem 0.1rem;
    background-image: linear-gradient(90deg,var(--Light_Magenta),var(--Light_Violet));
}
.btndiv section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.btndiv img{
    padding: 0 0.5rem 0 0.5rem;
    height: 1rem;
}
.btndiv>p:last-of-type {
    padding: 7.5px;
    font-size: 150%;
    font-weight: 500;
    color: var(--White);
}
.msg-box{
    margin: 5px 5px 8px 5px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--White );
    color: var(--Grayish_Blue);
}
.msg-box>p{
    padding: 0 0 0 0.5rem;
}
.msg-box img{
    width:35px;
}
.adverttext{
    width:32vw;
    font-weight: 400;
}
@media screen and (width<=400px) {
    .adverttext
    {
        padding: 3rem 2rem 3rem 2rem;
        width: 100vw;
        text-align: center;
    }
}
.advertheading{
    font-size: 2rem;
    font-weight: 700;
    margin:0 0 1rem 0;
}
.advertdesc{
    color: var(--Dark_Grayish_Violet);
    font-weight: 500;
    line-height: 1.3;
}
@media screen and (width<=400px) {
    .advertdesc
    {
        line-height: 1.75;
    }
}